body {
    background-color: #f0eee9;
}

a {
    color: #005c7d;
}

.App {
    text-align: center;
}

.App-logo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: pulse 3s infinite ease-in-out;
}

.App-header {
    background-color: #333;
    box-shadow: 0 2px 4px 0 #cdcdcd;
    height: 200px;
    padding: 10px;
    color: #fff;
}

@keyframes pulse {
    0% { transform: scale(0.9); opacity: 0.7; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(0.9); opacity: 0.7; }
}

.App-title {
    font-size: 1.3em;
}

.App-intro {
    font-size: large;
}

.card {
    position: relative;
    max-width: 100%;
    width: 250px;
    min-width: 250px;
    min-height: 350px;
    display: flex;
    flex-flow: column;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 1rem;
    user-select: none;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgba(0,0,0,0.2);
    /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.card:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: opacity 0.3s ease-in-out;
}

/* #activeMonsters .card:hover,
#inactiveMonsters .card:hover {
    transform: scale(1.2, 1.2);
} */
  
.card:hover::after {
    opacity: 1;
}

.user-card-header {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.album-card-header {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.user-card-avatar {
    position: absolute;
    display: flex;
    flex: 0 0 auto;
    height: 6rem;
    width: 6rem;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    z-index: 10
}

.user-card-body {
    padding: 1rem;
    padding-top: 4rem;
}

.album-card-body {
    padding: 1rem;
    padding-top: 1rem;
}

.user-card-body .user-card-name {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    color: #2c3e50
}

.user-card-body .user-card-position-name {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    color: #7f8c8d
}

.user-card-stats {
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-size: 0.75rem
}

.stat-container {
    border-top: 2px solid rgba(127, 140, 141, 0.2);
    border-right: 2px solid rgba(127, 140, 141, 0.2);
    min-width: 4rem;
    padding: 10px 5px 5px 5px
}

.stat-container:last-child {
    border-right: none
}

.stat-name {
    display: flex;
    flex-flow: row;
    justify-content: center;
    color: #7f8c8d;
    text-transform: capitalize;
}

.stat-value {
    display: flex;
    flex-flow: row;
    justify-content: center;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 2px;
}

.card-link {
    display: flex;
    text-decoration: none
}

h2 {
    color: #2c3e50;
    margin: 2rem 0 0 2rem
}

.links {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 24px
}

.card-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box
}

.tokenRequest .user-card-header {
    height: 140px;
}

.tokenRequest .user-card-avatar {
    top: 40px;
}

.tokenRequest .error {
    font-size: 15px;
    text-align: left;
    padding: 20px;
}

.tokenRequest .errorType {
    font-weight: 700;
    color: #cc0000;
}

.tokenRequest .stat-container input {
    height: 20px;
    width: 160px;
    margin: 0;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.05);
    color: #181a1c;
    outline: none;
    padding: 5px 4px 5px 6px;
    font: inherit;
    text-align: left;
    vertical-align: middle;
}

/* .nowPlaying,
#activeMonsters,
#inactiveMonsters {
    display: none;
} */
